<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Payment Gateway</title>{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static 'static_dirs/layout/styles/layout.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'static_dirs/layout/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'static_dirs/layout/scripts/jquery.slidepanel.setup.js' %}"></script>
</head>
<body>
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div align="center" style="padding :10px;">
        <h2>Notifications</h2>
          <div style="overflow:scroll; height: 80px;"><marquee direction="up"><center><p>1.New Materials Added</p><p>2.New Materials Added</p><p>3.New Materials Added</p><p>4.New Materials Added</p><p>5.New Materials Added</p></center></marquee></div>
        <!--<p class="readmore"><a href="#">Continue Reading &raquo;</a></p> -->
      </div>
        <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left"><font color="red"> New Content </font>&raquo;</li>
        <li class="right" id="toggle"><a id="slideit" href="#slidepanel">Notifications</a><a id="closeit" style="display: none;" href="#slidepanel">Close Panel</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="../index.html">Profile</a></h1>
      <p>General Information</p>
    </div>
    <div class="fl_right">
     <ul>
        <li class="last"><a href="#">Search</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="/login/">Signout</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topnav">
    <ul>
      <li><a href="/dashboard/">Home</a>
        <ul>
          <li><a href="#">Learning Courses</a></li>
          <li><a href="#">Requests</a></li>
          <li><a href="#">Notifications</a></li>
          <li class="last"><a href="#">Schedule</a></li>
        </ul>
      </li>
      <li><a href="/profile/">Profile</a>
        <ul>
          <li><a href="#">Personal Information</a></li>
          <li><a href="#">Edit Profile</a></li>
          <li class="last"><a href="#">Account Settings</a></li>
        </ul>
      </li>
      <li class="active"><a href="/usercourses/">Courses</a>
        <ul>
          <li><a href="#">My Courses</a></li>
          <li><a href="#">Course Material</a></li>
          <li class="last"><a href="#">Course Schedule</a></li>
        </ul>
      </li>

      <li class="last"><a href="/contact/">Contact Us</a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="breadcrumb">
    <ul>
      <li class="first">Payment Gateway</li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div id="content" style="height:600px;">
        {{display}}
        <form action="{{ action }}" method="post">{% csrf_token %}
            <h2>Payment Method</h2>
              <table>
                <!--{% for fields in form %}
                <tr><td>{{ fields.label_tag }}</td><td>{{ fields }}</td></tr>
                {% endfor %}-->

                <tr><td>Order Item:<input type="text" id="order_item_id" name="order_item_id" value="{{order_id}}"></td></tr>
                <tr><td>Card Number:<input type="text" id="transaction_id" name="transaction_id"></td></tr>

              </table>
            <center><input type="submit" value="Order"></center>
        </form>
    </div>
    <div class="clear"></div>
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="footer">
  </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">ORS</a></p>
    <p class="fl_right">Template by Developer</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>